#true {
    background-color: rgba(10, 140, 45, 0.6);
}

.weatherSlider {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 28%;
    /* height: 30%; */
    background-color: #f0f8e6;
    filter: drop-shadow(0px 0px 20px rgba(28, 28, 30, 0.1));
    border-radius: 10px;
    transition-duration: 1s;
}

.weatherBox {
    padding: 30px;
    height: 200px;
}

.weatherBox h2 {
    font-weight: 900;
}

.weatherBox h3 {
    font-weight: 700;
}

.weatherBox p {
    font-weight: 500;
}

.icon {
    padding-left: 10px;
    /* padding-top: 5px; */
    font-size: 55px;
    color: grey;
}

.weatherForecast {
    padding: 10px;
    position: absolute;
    top: 350px;
    left: 50px;
    width: 28%;
    /* height: 30%; */
    background-color: #4D5A51;
    color: #fffff2;
    filter: drop-shadow(0px 0px 20px rgba(28, 28, 30, 0.1));
    border-radius: 10px;
    transition-duration: 1s;
}

.forecastOfDay h2 {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.forecastOfDay .icon {
    padding-left: 0px;
    font-size: 20px;
    text-align: center;
}

.forecastOfDay .temp {
    /* padding-left: 0px; */
    font-size: 6px;
    text-align: center;
}

/* Define the font family for English characters */
@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-Black.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
        U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
        U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
        U+FFFD;
    font-weight: 900;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-ExtraBold.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
        U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
        U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
        U+FFFD;
    font-weight: 800;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-Bold.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
        U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
        U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
        U+FFFD;
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-SemiBold.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
        U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
        U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
        U+FFFD;
    font-weight: 600;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-Medium.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
        U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
        U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
        U+FFFD;
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-Regular.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
        U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
        U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
        U+FFFD;
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-Light.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
        U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
        U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
        U+FFFD;
    font-weight: 300;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-ExtraLight.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
        U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
        U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
        U+FFFD;
    font-weight: 200;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-Thin.ttf');
    unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2074, U+20A0-20CF,
        U+2100-214F, U+2153-215F, U+2190-21FF, U+2200-22FF, U+2302-23F3, U+2460-24FF,
        U+2500-257F, U+25A0-25FF, U+2600-26FF, U+2C60-2C7F, U+A720-A7FF, U+FB00-FB06,
        U+FFFD;
    font-weight: 100;
}

/* Define the font family for Traditional Chinese characters */
@font-face {
    font-family: 'Noto Sans TC';
    src: url('./fonts/NotoSansTC-Black.otf');
    unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
        U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
    font-weight: 900;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: url('./fonts/NotoSansTC-Bold.otf');
    unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
        U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: url('./fonts/NotoSansTC-Medium.otf');
    unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
        U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: url('./fonts/NotoSansTC-Regular.otf');
    unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
        U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: url('./fonts/NotoSansTC-Light.otf');
    unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
        U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
    font-weight: 300;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: url('./fonts/NotoSansTC-Thin.otf');
    unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+20000-2A6DF,
        U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF;
    font-weight: 100;
}

* {
    /* font-family: 'Noto Sans', 'Noto Sans TC', sans-serif; */
    font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
}